name: CICD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      # - name: build docker image
      #  run: docker build -t aldosebastian/quizapp .
      # - name: login to docker hub
      #  run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
      # - name: tag image
      #  run:
          # Usage of tag command is: docker tag SOURCE_IMAGE[:TAG] TARGET_IMAGE[:TAG]
          # With this setup, the image, which was built untagged, is now given the "latest" tag
      #    docker tag aldosebastian/quizapp aldosebastian/quizapp:latest
      #- name: push to docker hub
        # We have to push with the tag instead of just the image name; it's just the way things are
      #  run: docker push aldosebastian/quizapp:latest
      - name: Deploy to Digital Ocean droplet via SSH action
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.SSHHOST1 }}
          username: root
          key: ${{ secrets.SSHKEY1 }}
          script: |
            cd /home/aldo/quizapp
            # Login to dockerhub registry
            docker login -u aldosebastian -p ${{ secrets.DOCKERHUB_PASSWORD }}
            # Stop and remove any quizapp container
            docker stop quizapp && docker rm quizapp
            # Delete the image that ran the deleted container (i.e. the one with the tag latest), since now this image is outdated 
            # (this is to save space, if you want you can skip this. If skipped, after docker pull the old image will have tag None)
            docker rmi aldosebastian/quizapp:latest
            # Pull the latest image
            docker pull aldosebastian/quizapp
            # Run the quizapp service container, with name quizapp as the container
            docker run -d --publish 3500:3000 --restart always --name quizapp aldosebastian/quizapp